@page
@model Zealand_Zoo_1FProjekt1semester2024.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Zealand Zoo</h1>
</div>
<div class="card-columns">
    @foreach (var student in Model.Student) // This should be 'Model.Student'
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@student.Name</h5> <!-- Use 'student' variable -->
                <p class="card-text">@student.Id</p> <!-- Optionally display the Id as well -->
            </div>
        </div>
    }
</div>

