@page
@model Zealand_Zoo_1FProjekt1semester2024.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body id="body-homepage" >
    <div class="text-center">
        <h1 class="display-1">Zealand Zoo</h1>
    </div>
    <img src="~/Images/deeppink-flamingo.svg" class="filter-shadow-middle" width="50%" height="50%" alt="Zealand Zoo Logo">

</body>






